.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	position: relative;
	width: 60vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border-radius: 8px;
	overflow: hidden;
}

.modalImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
